/* CSS variables, use these or add more instead of hard-coding everything... PLEASE! */
:root {
  --color-white: #fafafa;
  --color-black: #333333;
  --color-gradient: linear-gradient(to right, #7fe4ff, #008be9);
  --color-primary: #008be9;
  --color-secondary: #7fe4ff;
  --box-shadow-light: 0px 0px 5px rgba(0, 0, 0, 0.5);
  --box-shadow-lighter: 15px 15px 30px rgba(0, 0, 0, 0.05);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

html,
body {
  width: 100%;
  height: 100vh;
  max-width: 100vh;
}

body {
  background-image: url("../images/bg.png");
  background-size: 50vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
}

.content-box {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 4rem;
  color: var(--color-white);
  font-weight: bolder;
  padding-bottom: 2px;
  border-bottom: 4.8pt solid var(--color-white);
  display: inline-block;
}

.table {
  width: 95vw;
  text-align: left;
  margin-top: 5vh;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
}

table {
  width: 100%;
  text-align: left;
}

tbody tr td {
  font-weight: lighter !important;
}

.btn-primary {
  padding: 15px;
  background-image: url("../images/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  color: var(--color-white);
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  padding: 5px;
  background: var(--color-primary);
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}

.btn-secondary:hover {
  transition: 0.2s ease-out;
  background: #000;
}

@media screen and (max-width: 1024px) {
  body {
    background-size: 100% 100%;
  }

  h1 {
    font-size: 0.8rem;
    border-bottom: 1px solid var(--color-white);
  }
}
